@model IEnumerable<MedicSystem.Models.Clinicas>

@{
    ViewBag.Title = "Clinicas";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Index</h2>
    </div>
</div>

<div class="row">
    <p>
        @Html.ActionLink("Create New", "Create", "Clinicas", null, new { @class = "btn btn-default" })
    </p>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Lista de clínicas
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>#</th>
                            <th>#</th>
                            <th>#</th>
                        </tr>

                        @foreach (var item in Model)
            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", "Clinicas", new { id = item.ClinicaId}, new { @class = "btn btn-primary" })
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", "Clinicas", new { id = item.ClinicaId }, new { @class = "btn btn-primary" })
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", "Clinicas", new { id = item.ClinicaId }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>