@model IEnumerable<MedicSystem.Models.Medicos>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>Index</h2>
</div>

<p>
    @Html.ActionLink("Create New", "Create", "Medicos", null, new { @class = "btn btn-primary" } )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dados.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Crm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dados.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco.Cidade) / @Html.DisplayFor(modelItem => item.Endereco.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Crm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Medicos", new { id = item.MedicoId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Edit personal data", "Edit", "DadosPessoais", new { id = item.DadosPessoaisId }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Edit address", "Edit", "Enderecos", new { id = item.EnderecoId }, new { @class = "btn btn-primary" })            
            @Html.ActionLink("Details", "Details", "Medicos", new { id=item.MedicoId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", "Medicos", new { id=item.MedicoId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
