@model MedicSystem.Models.Pacientes

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <h2>Details/Pacientes</h2>
</div>

<div class="row">    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dados.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dados.Nome)            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dados.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dados.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco.Cidade) / @Html.DisplayFor(model => model.Endereco.Estado) / @Html.DisplayFor(model => model.Endereco.Pais)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Pacientes", new { id = Model.PacienteId }, new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Back to List", "Index", "Pacientes", null, new { @class = "btn btn-primary" })
</p>
