@model IEnumerable<MedicSystem.Models.Pacientes>

@{
    ViewBag.Title = "Index pacientes";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dados.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dados.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dados.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dados.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit personal data", "Edit", "DadosPessoais",new { id = item.DadosPessoaisId }, null) |
            @Html.ActionLink("Details", "Details", new { id=item.PacienteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PacienteId })
        </td>
    </tr>
}

</table>
